<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dway</title>
</head>

<body>
    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Item</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="example-text-input" class="col-sm-2 col-form-label">Nama Item</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" placeholder="Enter Name Item" id="example-text-input" [(ngModel)]="namaItem">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Select</label>
                <div class="col-sm-10">
                    <select class="form-control" [(ngModel)]="kategori">
                      <option disabled>Select Kategori</option>
                      <option  *ngFor="let item of dataDropdown"  [value]="item.typeItem">{{item.typeItem}}</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="example-date-input" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input" [(ngModel)]="tanggalKadaluarsa">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
            <button type="button" class="btn btn-outline-dark" (click)="saveItem()">Save</button>
        </div>
    </ng-template>

    <div class="row">
        <div class="col-12">
            <div class="card m-b-20">
                <div class="card-body">
                    <h4 class="mt-0 header-title text-center" style="margin-bottom: 10px;">Data Item DWAY</h4>
                    <button (click)="open(mymodal)">
                      <i class="mdi mdi-plus-circle" style="font-size:15px"></i>
                    </button>
                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="text-center">ID Barang</th>
                                <th class="text-center">Nama Barang</th>
                                <th class="text-center">Kategori</th>
                                <th class="text-center">Tanggal Kadaluarsa</th>
                                <th class="text-center">Aksi</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let item of items">
                            <tr>
                                <td class="text-center">{{item.uuid}}</td>
                                <td class="text-center">{{item.name}}</td>
                                <td class="text-center">{{item.typeItem}}</td>
                                <td class="text-center">{{item.expiredDate * 1000 | date:'yyyy-MM-dd'}}</td>
                                <td class="text-center">
                                    <button (click)="deleteItem(item.id)">
                                    <i class="fa fa-trash-o" style="font-size:15px"></i>
                                  </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <router-outlet></router-outlet>
</body>

<!-- <router-outlet></router-outlet> -->

</html>